.body{    
    font-family: 'Poppins',sans-serif;
    width: 1300px;
    height: 743px;
    background-color: #F0F0F0;

  }
  .header{
    padding-left: 10px;
    font-family: 'Poppins',sans-serif;
    width: 99.2%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13);
  }
  .LeTaff{
    margin-top: -40px;
    width: 120px;
    height: 140px;
  }
  .icon{
    height: 15px;
    width:15px ;
  }
  
  .retour {
    margin-left: 20px;
    margin-top: 30px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .retour:hover {
    background-color: rgb(199, 39, 39)
    ;
  }
  .nav{
    padding: 30px ;
    width:170px;
    height: 100vh;
    background: -webkit-gradient(linear, left top, right top, from(#451275), to(#6b359c));
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
  }
  
  a { 
    margin-top: 10px;
    padding: 10px; 
    text-decoration: none; 
    color:white;
  }
  
  a:hover {
    border-radius: 10px;
    background-color: #ccc; 
    color: #000; 
  }  
  
.centre{

  font-family: 'Poppins',sans-serif;
    height:100vh;
    width: 980px;
    margin-top: -680px;
    margin-left: 300px;
}  
.modifier {
  margin-left: 20px;
  margin-top: 30px;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modifier:hover {
  background-color: rgb(26, 26, 161);

}


.personne{

    width: 150px;
    height: 150px;
}
.nom{
    margin-left: 20px;
    font-weight: bold;
}
.titre{
    font-weight: bold;
}
.info{
    margin-left: 230px;
    margin-top: -160px;
}
table{
    height: 440px;
}
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }