<div class="body">

  <div class="header">
    <img src="assets/leTaff.png" alt="logo">
    <div class="tete">

    </div>
  </div>

  <div class="nav">
    <div class="menu">
     <br> <p> <img class="icon" src="assets/home.png" alt="home"><a href="/home">Accueil</a></p>
     <br> <p> <img class="icon" src="assets/persone.png" alt="persone"><a href="/employer">Employer</a></p>
     <br> <p> <img class="icon" src="assets/persone.png" alt="persone"><a href="/stagiaire">Stagiaire</a></p>
     <br> <p> <img class="icon" src="assets/persone.png" alt="persone"><a href="/client">Client</a></p>
    </div>
  </div>
<div class="centre">
  <div class="salaire">
    <div style="font-weight: bold;">
      ${{totalSalaire}}
    </div>
    <div>
      <br>
      <br>Tous Les salaires 
      <br><img style="margin-left: 140px; margin-top:0.9 px;" class="hesto" src="assets/hesto.png">
    </div>
  </div>
  <div class="employer">
    <div style="font-weight: bold;">
      {{totalEmployer}}
    </div>
    <div>
      <br>
      <br>Tous Les employer 
      <br><img style="margin-left: 150px; margin-top:0.9 px;" class="hesto" src="assets/hesto.png">
    </div>
  </div>
  <div class="stagiaire">
    <div style="font-weight: bold;">
      {{totalStagiaire}}
    </div>
    <div>
      <br>
      <br>Tous Les stagiaires 
      <br><img style="margin-left: 150px; margin-top:0.9 px;" class="hesto" src="assets/hesto.png">
    </div>
  </div>
  <div class="departement">
    <div style="font-weight: bold;">
      5
    </div>
    <div>
      <br>
      <br>Tous Les departements 
      <br><img style="margin-left: 175px; margin-top:0.9 px;" class="hesto" src="assets/hesto.png">
    </div>
  </div>
  <div class="client">
    <div style="font-weight: bold;">
      {{totalClient}}
    </div>
    <div>
      <br>
      <br>Tous Les clients 
      <br><img style="margin-left: 150px; margin-top:1 px;" class="hesto" src="assets/hesto.png">
 
    </div>

  </div>

</div>
